# Bỏ qua thư viện (Cực kỳ quan trọng)
node_modules/

# Bỏ qua file môi trường (Bảo mật)
.env
.env.local

# Bỏ qua file build của Next.js và Backend
.next/
dist/
build/

# Bỏ qua các file rác của hệ điều hành
.DS_Store
Thumbs.db